@import 'signup.css';
@import 'notification.css';
@import 'image-upload.css';
@import 'tasks.css';
@import 'task-tabs.css';
@import 'local-navbar.css';
@import 'profile.css';
@import 'get-started.css';
@import 'user-status.css';
@import 'components/input-field.css';
@import 'navbar.css';
@import 'identity.css';
@import 'new-signup.css';
@import 'variables.css';
@import 'user-status-modal.css';
@import '404.css';
@import 'card.css';
@import 'discord.css';
@import 'qrcode.css';
@import 'progress-bar.css';
@import 'mobile.css';

html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif, serif;
  font-size: 15px;
  height: 100%;
  background-color: var(--body-bg-color);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
  padding: 0;
  flex: 100%;            
  display: flex;
  flex-direction: column;
}

.greeting {
  text-align: center;
  margin-top: 50px;
}

.footer {
  font-weight: lighter;
  text-align: center;
  width: 100%;
  padding: 16px;
}
.mobile-dialog {
  display: block;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-weight: 900;
  margin: 0 auto;
  font-size:large;
  text-align: center;
  background-color: var(--form--bg);
  line-height: 1;
  border: none;
  box-shadow: 4px 8px 8px var(--mobile-dialog-box-shadow);

  & button {
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-size:medium;
    border: none;
    border-radius: 3px;
    color: var(--body-bg-color);
    font-weight: 600;
  }
}
#mobile-dialog__open-button {
  background-color: var(--mobile-dialog--open-button);
}
#mobile-dialog__close-button {
  background-color: var(--body-bg-color);
  color: var(--landing-page--main-heading);
}

.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

@media (max-width: 460px) {
  .footer {
    padding: 8px 8px 16px;
    font-size: 0.87rem;
  }
}
