@import 'signup.css';
@import 'notification.css';
@import 'image-upload.css';
@import 'tasks.css';
@import 'sidebar.css';
@import 'local-navbar.css';
@import 'profile.css';
@import 'get-started.css';
@import 'user-status.css';
@import 'components/input-field.css';
@import 'navbar.css';
@import 'identity.css';
@import 'new-signup.css';
@import 'variables.css';
@import 'user-status-modal.css';
@import '404.css';
@import 'card.css';
@import 'discord.css';

html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif, serif;
  font-size: 15px;
  height: 100%;
  background-color: var(--body-bg-color);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
  padding: 0;
  flex: 100%;
  display: flex;
  flex-direction: column;
}

.greeting {
  text-align: center;
  margin-top: 50px;
}

.qr-code-container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.qr-code{
  width: 200px ;
  height: 200px;
  margin-top: 50px;
  display: flex;
  text-align: center;
}

.qr-code-text{
  text-align: center;
  margin-top:15px;
}

.footer {
  font-weight: lighter;
  text-align: center;
  width: 100%;
  padding: 16px;
}

.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

@media (max-width: 460px) {
  .footer {
    padding: 8px 8px 16px;
    font-size: 0.87rem;
  }
}
