@import 'signup.css';
@import 'notification.css';
@import 'image-upload.css';
@import 'tasks.css';
@import 'task-tabs.css';
@import 'local-navbar.css';
@import 'profile.css';
@import 'get-started.css';
@import 'user-status.css';
@import 'components/input-field.css';
@import 'navbar.css';
@import 'identity.css';
@import 'new-signup.css';
@import 'variables.css';
@import 'user-status-modal.css';
@import '404.css';
@import 'card.css';
@import 'discord.css';
@import 'qrcode.css';
@import 'progress-bar.css';
@import 'mobile.css';

html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif, serif;
  font-size: 15px;
  height: 100%;
  background-color: var(--body-bg-color);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
  padding: 0;
  flex: 100%;
  display: flex;
  flex-direction: column;
}

.greeting {
  text-align: center;
  margin-top: 50px;
}

.footer {
  font-weight: lighter;
  text-align: center;
  width: 100%;
  padding: 16px;
}
.appDialog {
  display: block;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 900;
  margin: 0 auto;
  font-size: x-large;
  text-align: center;
  background-color: lightgray;
  border: 1px solid lightgrey;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);

  & button {
    padding: 8px 16px;
    margin: 20px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
  }
}
#okayBt {
  background-color: dodgerblue;
}
#cancleBt {
  background-color: white;
  color: black;
}

.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

@media (max-width: 460px) {
  .footer {
    padding: 8px 8px 16px;
    font-size: 0.87rem;
  }
}
