.card {
  max-width: 41rem;
  padding: 1.5rem 1rem;
  border: 1px solid var(--card-border-color);
  border-radius: 3rem;
  box-shadow: 3px 3px 3px var(--card-border-color);
  text-align: center;
}

.card__header {
  margin-bottom: 0.25rem;
}

.card__title {
  color: var(--card-primary-color);
}

.card__description--wrapper {
  margin-bottom: 0.25rem;
}

.card__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.25rem;
}

.card__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__button {
  color: var(--card-button-color);
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  background-color: var(--card-primary-color);
  padding: 0.75rem;
  border-radius: 1rem;
  cursor: pointer;
}
