@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@700&family=Inter:wght@400;700&display=swap');

.identity-heading {
  margin-top: 25px;
  text-align: center;
}

.identity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.input-div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.identity-Buttons {
  background-color: var(--button-identity--bg);
  color: var(--button-identity--text);
  display: inline;
  cursor: pointer;
  border-radius: 3px;
  padding: 4px 15px;
}

.copy-button {
  margin-left: 0.75rem;
  background-color: var(--button-copy--bg);
  color: var(--button-copy--text);
  border: 2px solid var(--button-copy--border);
  padding: 2px 5px;
}

.identity-verify-btn-div {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.identity-verify-btn {
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 20px;
  border: none;
  margin-top: 1rem;
}

.identity-error-message {
  color: red;
}

.identity-label,
.identity-check-label {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-url {
  height: 2rem;
}

.identity-Buttons:disabled,
.identity-verify-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.chaincode {
  font-weight: bold;
}

.identity__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.identity__input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: #0a53e4;
}

.identity__input-container .identity__profileURL-filled {
  transform: translate(0, 12px) scale(0.8);
}

.identity__input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.identity__input-container input {
  height: 64px;
  width: 300px;
  border-radius: 4px;
  border: solid 1px black;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.identity__input-container input:focus {
  border: none;
  box-shadow: 0 0 0 2px #79b1ff;
}

@media (max-width: 460px) {
  .identity-container {
    gap: 2rem;
  }

  .input-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 0.5rem;
  }

  .identity-label {
    flex-direction: column;
    gap: 0.5rem;
  }

  .identity-check-label {
    gap: 0.5rem;
    padding: 0 1rem;
    font-size: 0.8rem;
  }

  .identity-verify-btn {
    margin-top: 0;
  }

  .identity-Buttons {
    width: 100%;
  }
}

/* New CSS */

.identity-page {
  height: 91.5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.identity-hero {
  width: 25%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.identity-heading {
  font-family: 'Hanuman', serif;
  color: #000;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.identity-box {
  position: relative;
  height: 252px;
  width: 656px;
  max-width: 90%;
  margin-top: 24px;
  border-radius: 47px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.identity-box-desc-bold {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.identity-box-desc-a {
  color: #0000af;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.identity-box-heading {
  color: #1d1283;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.identity-box-desc {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.identity-rds-logo {
  width: 214px;
  margin-top: 4%;
}

.identity-header-hero {
  position: absolute;
  right: 22px;
  top: 32px;
}

.identity-header {
  position: absolute;
  width: 100%;
  top: -32px;
  z-index: 0;
}

.identity-footer {
  bottom: 0;
  position: absolute;
}

.identity-chaincode-box {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  width: 90%;
  height: 36px;
  padding-left: 16px;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.identity-box-eye-margin {
  margin-right: 8px;
}

.identity-box-eye {
  position: absolute;
  right: 4px;
  cursor: pointer;
}

.identity-chaincode-copy-box {
  display: flex;
  width: 60%;
}

.identity-copy-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.identity-next-button {
  border-radius: 15px;
  background: #1d1283;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 24px;
  color: #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  right: 4%;
  bottom: 8%;
}

.identity-box-input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  width: 50%;
  margin-top: 16px;
  padding: 8px;
  color: #0000af;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.identity-box-input::placeholder {
  color: #808080;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.identity-box-button {
  padding: 12px;
  border-radius: 15px;
  background: #1d1283;
  color: #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 460px) {
  .identity-box-input {
    width: 90%;
  }

  .identity-chaincode-box {
    font-size: 12px;
  }

  .identity-chaincode-copy-box {
    width: 90%;
  }

  .identity-box-button {
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
  }

  .identity-next-button {
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 8px;
    bottom: 4%;
  }

  .identity-hero {
    width: 50%;
  }

  .identity-box {
    border-radius: 25px;
  }

  .identity-heading {
    font-size: 16px;
    max-width: 90%;
    line-height: normal;
  }

  .identity-rds-logo {
    margin-top: 5%;
    margin-bottom: 0px;
    height: 100px;
    width: 100px;
  }

  .identity-header-hero {
    position: absolute;
    width: 20%;
    right: 12px;
    top: 8px;
  }

  .identity-box-heading {
    font-size: 16px;
  }

  .identity-box-desc {
    font-size: 12px;
  }

  .identity-heading {
    font-size: 16px;
    margin-top: 8px;
  }

  .identity-box-desc-bold {
    font-size: 12px;
  }

  .identity-box-desc-a {
    font-size: 12px;
  }
}

@media (max-height: 870px) and (min-width: 460px) {
  .identity-rds-logo {
    width: 174px;
    margin-top: 3%;
  }

  .identity-heading {
    font-size: 24px;
  }

  .identity-box {
    height: 202px;
  }

  .identity-box-heading {
    font-size: 22px;
  }

  .identity-box-desc {
    font-size: 18px;
  }

  .identity-box-button {
    padding: 10px;
    font-size: 16px;
    margin-top: 18px;
  }
}
