

.identity-heading {
    margin-top: 25px;
    text-align: center;
}

.identity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.input-div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.identity-Buttons {
    background-color: var(--button-identity--bg);
    color: var(--button-identity--text);
    display: inline;
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 15px;
}

.copy-button {
    margin-left: 0.75rem;
    background-color: var(--button-copy--bg);
    color: var(--button-copy--text);
    border: 2px solid var(--button-copy--border);
    padding: 2px 5px;
}

.identity-verify-btn-div {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.identity-verify-btn {
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 20px;
    border: none;
    margin-top: 1rem;
}

.identity-error-message {
    color: red;
}

.identity-label,
.identity-check-label {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-url {
    height: 2rem;
}

.identity-Buttons:disabled,
.identity-verify-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.chaincode {
    font-weight: bold;
}

@media (max-width: 460px) {
    .identity-container {
        gap: 2rem;
    }

    .input-div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        gap: 0.5rem;
    }

    .identity-label {
        flex-direction: column;
        gap: 0.5rem;
    }

    .identity-check-label {
        gap: 0.5rem;
        padding: 0 1rem;
        font-size: 0.8rem;
    }

    .identity-verify-btn {
        margin-top: 0;
    }

    .identity-Buttons {
        width: 100%;
    }
}