.image-upload {
  width: 100%;
  height: 100%;
}

.drop-area {
  border: 2px dashed var(--drop-area-border);
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: auto;
  padding: 20px;
  transition: 0.3s ease-out;
}

.drop-area__highlight {
  border-color: var(--drop-area-highlight--border);
  background-color: var(--drop-area-highlight--bg);
  transition: background-color 0.5s ease-in;
}

.image-form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-form__text {
  font-size: 1.25rem;
  margin: 10px 0;
}

.image-form__button {
  display: inline-block;
  padding: 10px;
  background: var(--button-image-form--bg);
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 1px solid var(--button-image-form--border);
  margin: 10px 0;
}

.image-form__button--disabled {
  background: var(--button-image-form--bg--disabled);
}

.image-form__button:hover {
  background: var(--button-image-form--bg--hover);
}

.image-form__input {
  display: none;
}

.image-preview {
  max-height: 500px;
  border-radius: 10px;
  border: solid var(--image-preview--border);
  display: block;
  margin: auto;
}

.upload-button {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
  padding: 5px;
  font-weight: 600;
}

.upload-button:hover {
  cursor: pointer;
}

.message-text__success {
  color: var(--message-success--text);
  font-size: 1.25rem;
  font-weight: bolder;
}
.message-text__failure {
  color: var(--message-failure--text);
  font-size: 1.25rem;
  font-weight: bolder;
}

.image-cropper-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.image-cropper {
  display: block;
  max-width: 100%;
}

.image-cropper-preview {
  overflow: hidden;
  width: 500px;
  height: 500px;
  border: 5px solid var(--image-cropper-preview--border);
  margin: 20px auto;
}

@media only screen and (max-device-width: 480px) {
  .drop-area {
    width: auto;
    margin: 20px;
  }

  .image-preview {
    width: 90%;
  }

  .image-cropper-preview {
    width: 300px;
    height: 300px;
  }
}
