.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 80vh;
  width: 70%;
  margin: auto;
}

.landing__mainHeading {
  font-size: 2rem;
  color: black;
}

.landing__subHeading {
  font-size: 1.5rem;
  color: black;
}

.landing > * {
  padding: .75rem;
}

.landing__features-lists {
  list-style: none;
}

.landing__features-list {
  padding: .25rem;
  font-size: 1.2rem;
  text-align: left;
  width: 50%;
  margin: auto;
}

.get-started__btn a {
  padding: .75rem 2rem;
  border-radius: 10px;
  outline: none;
  background-color: #041484;
  color: white;
  text-decoration: none;
}

@media (max-width: 568px) {
  .landing {
    width: 100%;
  }

  .landing__features-list {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .landing {
    width: 80%;
  }
} 