.local-navbar {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.local-navbar__link a {
  padding: 10px;
  text-decoration: none;
  color: var(--colorLink);
}

.local-navbar__link a:hover {
  cursor: pointer;
}

.active {
  color: #e30062;
}

@media screen and (max-width: 400px) {
  .local-navbar {
    flex-direction: column;
    align-items: center;
  }

  .local-navbar__link, .themeLogo {
    margin-top: 10px;
  }
}
