* {
  margin: 0;
  padding: 0;
}

nav {
  font: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: var(--nav--bg);
}

nav li a {
  margin: 10px;
  display: block;
  color: var(--nav--link--text);
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
}

nav li {
  float: left;
}

nav li a:hover {
  color: var(--nav--link--hover);
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav-menu--bg);
}

.nav__menu__logo {
  padding: 12px 20px;
}

.nav__menu__logo a {
  margin: 0px;
  padding: 0px;
}

.nav__user__li {
  float: right;
}

.nav__menu__home {
  display: none;
}

.user {
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
  color: var(--user--text);
  margin: 23px;
  cursor: pointer;
}

.user__pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}

.user__msg {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.hamburger--toggle {
  display: none;
}

.menu {
  font-size: 0.87rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--menu--bg);
  box-shadow: var(--menu--bpx-shadow--1) 0px 1px 2px 0px, var(--menu--bpx-shadow--2) 0px 2px 6px 2px;
  border-radius: 10px;
  width: 150px;
  padding: 15px 0px;
  position: absolute;
  right: 20px;
  top: 70px;
  display: none;
}

.active-menu {
  display: flex;
}

.menu__link {
  padding: 15px 30px;
}

.menu__link a {
  text-decoration: none;
  cursor: pointer;
}

.menu__link:hover {
  background-color: var(--menu--link--hover);
}

.active {
  color: var(--active);
}

@media screen and (max-width: 970px) {
  .nav {
    background: var(--nav--bg);
  }

  .hamburger--toggle {
    margin: 20px;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: var(--hamburger--toggle--text);
  }

  .nav-menu {
    background: var(--nav-menu--bg--smaller-screen);
    display: none;
    width: 100%;
    padding: 10px 0px;
    box-shadow: 0px 10px 15px var(--nav-menu--box-shadow--smaller-screen);
  }

  .active-nav {
    display: block;
  }

  .nav__menu__home {
    display: block;
  }

  nav li a {
    padding: 10px 40px;
    text-align: left;
    color: var(--nav--link--text--smaller-screen);
    text-decoration: none;
    display: block;
  }

  .nav__user__li,
  .nav__menu__logo {
    display: none;
  }

  nav li {
    float: none;
  }

  .user {
    margin: 18px;
  }
}