.container {
  width: 100%;
  color: var(--container--text);
  text-align: center;
  padding: 1em 0;
}

.user-details {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 80%;
  margin: auto;
  background-color: var(--user-details--bg);
}

.user-details > * {
  padding: 1rem;
}

.user-details__heading {
  font-size: 2rem;
  color: var(--user-details--heading--bg);
  margin-bottom: 0;
  text-align: center;
}

.user-details__field input {
  padding: 0.8rem;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--user-details--input--border);
  font-size: 2rem;
}

.role-details__field {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.checkbox-label{
  display: flex;
  width: 12rem;
  margin: 0 auto;
  font-size: 1.3rem;
}

.checkbox-label .checkbox-input{
  margin-right: 10px;
}

.signup-action__btn button {
  padding: .75rem 2rem;
  border-radius: 10px;
  outline: none;
  background-color: var(--button-signup--bg);
  color: var(--button-signup--text);
  text-decoration: none;
  cursor: pointer;
  width: 75%;
  display: block;
  margin: auto;
  font-size: 2rem;
  border: none;
}

.error {
  color: var(--error);
  padding: 0.4rem;
  font-size: 1rem;
}

.signup-action__btn button.btn-disabled {
  background: var(--button-signup--disabled);
}

@media (max-width: 600px) {
  
  .user-details__field input,
  .signup-action__btn button {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .user-details__heading {
    font-size: 1.6rem;
  }

  .checkbox-label{
    font-size: 1rem;
  }

  .user-details__field input,
  .signup-action__btn button {
    font-size: 1.2rem;
  }
}