.profile-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
  max-width: min(90%, 1536px);
  margin: 3rem auto 0 auto;
}

.profile-form {
  grid-column: 5 / 9;
}

.profile-form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.profile-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  padding-bottom: 2rem;
}

.profile-field-input-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  padding: 1rem;
}

.profile-field-input-container:focus-within {
  border-color: #1c64f2;
}

.profile-field-input {
  padding: 0 1.25rem;
  border: none;
  background: none;
  outline: none;
}

.profile-field-input:active {
  border-color: #1c64f2;
}

.profile-field-input-delete {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.profile-field-input-delete:nth-of-type(2) {
  display: block;
}

.profile-field-error-message {
  color: red;
  margin: 0;
  bottom: 0;
  position: absolute;
}

.field-data {
  font-weight: bolder;
}

.not-avalibale-text {
  color: var(--placeholder-text-color);
  font-weight: lighter;
}

.profile-field-label {
  font-weight: 500;
  font-size: 1rem;
}

.picture_container {
  max-width: 40%;
  aspect-ratio: 1;
  margin: auto;
  text-align: center;
}

.profile-form .user__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-btn {
  padding: 0;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #1e429f;
  font-weight: 600;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
}

.model_background {
  width: 100vw;
  height: 100vh;
  background: var(--overlay--bg);
  position: fixed;
  top: 0;
}

.image-upload-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: var(--body-bg-color);
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  min-width: 400px;
}

.profile-form-submit {
  border-radius: 8px;
  border: none;
  background-color: #1c64f2;
  color: #fff;
  margin: 3rem auto;
  display: block;
  padding: 1rem 4rem;
}

.profile-field-error .profile-field-input-container {
  border-color: red;
}

@media screen and (max-width: 480px) {
  .image-upload-modal {
    min-width: 350px;
  }
}

.image-upload-link {
  display: block;
  text-align: center;
  position: relative;
  margin: 40px auto;
}

@media screen and (max-width: 1024px) {
  .profile-container {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
  }

  .profile-form {
    grid-column: 3 / 7;
  }
}

@media screen and (max-width: 640px) {
  .profile-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }

  .profile-form {
    grid-column: 1 / -1;
  }
}
