
.progress-bar-container{
    display: flex;
    gap: 4px;
}

.progress-bar__button{
    width: 1.4rem;
    height: 1.2rem;
    font-size: 50%;
        border: 2px solid black;
            border-radius: 4px;
}
.progress-bar__input-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 1.2rem;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 4px;
    cursor: row-resize;
}

.progress-bar__input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem rgba(0, 128,0, 0.5);
}

.progress-bar__input-slider::-moz-range-thumb {
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem rgba(0, 128, 0, 0.5);}

.progress-bar__input-slider[step] {
    background-color: transparent;
    background: repeating-linear-gradient(to right,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) calc(10% - 1px), black 10%);
    /* background: repeating-linear-gradient(to right, , rgba(green, .2) calc(10% - 1px), black 10%); */
}