:root {
  --progress-bar-color: rgba(0, 128, 0, 0.9);
  --light-grey: rgba(128, 128, 128, 0.5);
  --black: black;
  --white: white;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.progress-bar__button {
  width: 1.5rem;
  height: 1.1rem;
  border: 2px solid var(--black);
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-items: center;
}

.progress-bar__button__text {
  font-size: 0.6em;
  font-weight: bolder;
  margin: auto;
}

.progress-bar__button__edit-icon {
  width: 1rem;
  height: 1rem;
  margin: 3px;
}
.progress-bar__input-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 1.1rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border: 2px solid var(--black);
  border-radius: 4px;
}

.progress-bar__input-slider:focus {
  box-shadow: 0 0 0 1px var(--progress-bar-color);
}
.progress-bar__input-slider:disabled {
  cursor: auto;
}

.progress-bar__input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem var(--progress-bar-color);
}

.progress-bar__input-slider::-moz-range-thumb {
  border: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem var(--progress-bar-color);
}

.progress-bar__input-slider[step] {
  background-color: transparent;
  background: repeating-linear-gradient(
    to right,
    var(--white),
    var(--white) calc(10.05% - 1.5px),
    var(--black) 10.05%
  );
}

.progress-bar__button--hover:hover {
  background-color: var(--light-grey);
}

.progress-bar__button__edit-icon__inner {
  fill: var(--progress-bar-color);
}
