:root {
  --progress-bar-color: rgba(0, 128, 0, 0.9);
}
.progress-bar-container {
  display: flex;
  gap: 4px;
}

.progress-bar__button {
  width: 1.4rem;
  height: 1.1rem;
  font-size: 60%;
  font-weight: bolder;
  text-justify: auto;
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
}

.progress-bar__edit-icon {
  width: 95%;
  height: 95%;
  margin-bottom: 2px;
}
.progress-bar__input-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 1.1rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}
.progress-bar__input-slider:focus {
  box-shadow: 0 0 0 1px var(--progress-bar-color);
}
.progress-bar__input-slider:disabled {
  cursor: auto;
}

.progress-bar__input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem var(--progress-bar-color);
}

.progress-bar__input-slider::-moz-range-thumb {
  border: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem var(--progress-bar-color);
}

.progress-bar__input-slider[step] {
  background-color: transparent;
  background: repeating-linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255) calc(10.05% - 1.5px),
    black 10.05%
  );
}

.progress-bar__edit-hover:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.progress-bar__edit-icon-path-inner {
  fill: var(--progress-bar-color);
}
