.last-request {
    padding: 40px 4px 20px;
    color:#041187;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 2rem
}

.button {
    top: 335%;
    border-radius:10px;
    padding: 16px 60px;
    border: 2px solid #FF8C00;
    color: #FF8C00;
    background-color: white;
    font-family: Helvetica Neue;
    font-weight:bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.remaining-requests {
    padding-top:30px;
    color:#041187;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 1.3rem
}