.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  overflow: auto;
}


.sidebar__dropdown-container {
  margin-left: 8px;
  border: 1px solid var(--sidebar__dropdown-container--border);
  border-radius: 4px;
  padding: 1px 0;
}

.sidebar__dropdown-container__button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  text-align: left;
  padding: 8px 20px;
  background-color: var(--button-sidebar__dropdown-container--bg);
}

.sidebar__dropdown-container__button:hover {
  cursor: pointer;
  border-left: 2px solid var(--button-sidebar__dropdown-container--border-l);
  font-weight: 800;
}

