:root {
  --line-border-fill: #1d1283;
  --line-border-empty: #e0e0e0;
}

.stepper--container {
  text-align: center;
}

.stepper-progress--container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
  transition: 0.4s ease;
}

.stepper__step {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--line-border-empty);
  border-color: var(--line-border-fill);
  transition: 0.4s ease;
  z-index: 2;
}
