:root {
  --slider-colour: #424cc1;
  --slider-background: #cfd3ff;
  --thumb-background: #a1d0ff;
  --opaque-black: #000000b3;
  --white: #ffffff;
  --black: #000000;
  --green: #008000;
}

.tasks-page {
  display: flex;
  color: var(--tasks-page--text);
  margin-top: 40px;
}

.tasks-container__title {
  text-transform: capitalize;
}

.tasks-container {
  padding: 8px;
  width: 80%;
  text-align: center;
}

.tasks-container__no-tasks-found {
  margin-top: 20px;
}

.task-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--task-card--border);
  border-radius: 10px;
  box-shadow: 0 0 15px -7px var(--task-card--box-shadow);
  width: 50%;
  margin: auto;
  padding: 1rem;
  margin-top: 2em;
}

.task-card:hover {
  box-shadow: 0 4px 8px 0 var(--task-card--box-shadow-1--hover),
    0 6px 20px 0 var(--task-card--box-shadow-2--hover);
}

.dates-info {
  text-align: center;
}

/* progress bar */

.wrapper-div {
  margin: 1em;
  padding: 1rem;
}

.task-card__progress-bar-container {
  padding: 1em;
}

.task-card__progress-bar-container__progress-bar {
  background-color: var(--task-card__progress-bar-container__progress-bar--bg);
  height: 40px;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 16px;
  position: relative;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 80%;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 50%;
  height: 5px;
  cursor: pointer;
  background-color: var(--input-slider-runnable-track--bg);
  box-shadow: 0px 0px 0px var(--input-slider-runnable-track--box-shadow);
  background: var(--input-slider-runnable-track--background);
  border-radius: 1px;
  border: 0px solid var(--input-slider-runnable-track--border);
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px var(--input--slider-thumb--box-shadow);
  border: 1px solid var(--input--slider-thumb--border);
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--input--slider-thumb--bg);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--input-slider-runnable-track--background);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px var(--input-range-track--box-shadow);
  background: var(--input-range-track--bg);
  border-radius: 1px;
  border: 0px solid var(--input-range-track--border);
}

input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px var(--input--range-thumb--box-shadow);
  border: 1px solid var(--input--range-thumb--border);
  height: 18px;
  width: 18px;
  border-radius: 8px;
  background: var(--input--range-thumb--bg);
  cursor: pointer;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: var(--input--fill-lower--bg);
  border: 0px solid var(--input--fill-lower--border);
  border-radius: 2px;
  box-shadow: 0px 0px 0px var(--input--fill-lower--box-shadow);
}

input[type='range']::-ms-fill-upper {
  background: var(--input-fill-upper--bg);
  border: 0px solid var(--input-fill-upper--border);
  border-radius: 2px;
  box-shadow: 0px 0px 0px var(--input-fill-upper--box-shadow);
}

input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px var(--input-thumb--box-shadow);
  border: 1px solid var(--input-thumb--border);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--input-thumb--bg);
  cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
  background: var(--input-fill-lower--bg);
}

input[type='range']:focus::-ms-fill-upper {
  background: var(--input-fill-lower--bg);
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 30px 30px;
  }
}

/* Status Container */

.task-card__status {
  display: flex;
  justify-content: space-evenly;
  padding: 16px 0;
}

.task-card__status select {
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.task-card__btn button {
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
}

.task-details__title,
.task-details__purpose,
.dates-info__start {
  margin-top: 1em;
  margin-bottom: 1em;
}

.task-card__current-task-status {
  margin-bottom: 15px;
}

.task-card__loader-container {
  margin-top: 10px;
}

/* modal styles */

.overlay {
  background: var(--overlay--bg);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  align-self: center;
  padding: 0.2rem;
  background: var(--modal--bg);
  color: var(--modal--text);
  position: relative;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  height: fit-content;
}

.modal-title {
  font-size: 1.1rem;
  color: var(--modal-title--text);
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
  width: 80%;
}

.proceed-btn {
  display: block;
  width: 70%;
  margin: 0.4rem;
  padding: 0.5rem;
  background-color: var(--button-proceed--bg);
  border: none;
  color: var(--button-proceed--text);
  cursor: pointer;
}

.not-assign {
  display: block;
  width: 70%;
  margin: 0.4rem;
  padding: 0.5rem;
  border: 2px solid var(--not-assign--border);
  background-color: var(--not-assign--bg);
  color: var(--not-assign--text);
  font-weight: 700;
  cursor: pointer;
}

.close {
  background-color: var(--close--bg);
  border: none;
  align-self: flex-end;
  margin-right: 0.5rem;
}

/* fetch task styles */

.fetch-task {
  margin-top: 1rem;
}

.fetch-task > p {
  margin-bottom: 1rem;
  font-weight: 700;
}

.fetch-task > button {
  background-color: var(--fetch--button-bg);
  padding: 1rem 5rem;
  color: var(--fetch--button--color);
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.fetch-task > button:disabled {
  background-color: var(--fetch--button--bg--disabled);
}

/* extension form */
.task-card__extensionForm-button {
  font-weight: bolder;
  color: var(--tasks-page--text);
  display: block;
  margin: 8px auto;
  border: 1px solid var(--tasks-page--text);
  padding: 5px 9px;
  background-color: transparent;
  border-radius: 2px;
}

.extension-form__container-parent {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.extension-form__container-back{
  background-color: #00000048;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.extension-form__container-main {
  z-index: 1;
  flex-grow: 0;
  padding: 18px;
  border-radius: 10px;
  background-color: white;
  min-width: 30%;
  width: max-content;
  height: max-content;
  max-height: 50vh;
  overflow-y: scroll;
}
.extension-form__container-main:hover{
  cursor: default;
}
.extension-form__container-main::-webkit-scrollbar {
  width: 10px;
}
.extension-form__container-main::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}
.extension-form__container-main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
.extension-form__container-main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.extension-form__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin: 10px 0px;
}

.extension-form__create-button {
  background-color: var(--button-proceed--bg);
  color: var(--button-proceed--text);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 5px 9px;
}

.extension-form__contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.extension-form__content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}
.extension-form__content form > p {
  margin: 0;
}
.extension-form__content form > button,
.extension-form__container-close {
  background-color: var(--button-proceed--bg);
  color: var(--button-proceed--text);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 5px 9px;
}
.extension-form__content input {
  margin: 5px 0px 15px 0px;
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--input-field-border);
}

.extension-info__content > table,
.extension-info__content > table > tr,
.extension-info__content {
  text-align: left;
  width: 100%;
}

.extension-info__content{
  border-bottom: 1px solid black;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .tasks-page {
    flex-direction: column;
    align-items: center;
  }

  .task-card {
    width: 90%;
  }

  .tasks-container {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .task-card__status {
    flex-direction: column;
  }
}
