:root {
  --white: #ffffff;
  --light-black: rgba(0, 0, 0, 0.3);
  --grey-white: rgb(174, 174, 174);
  --gray: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
  --primary-text-color: #041187;
  --task-card-border: 2px solid #d9d9d9;
  --range-slider-background: #e5e5e5;
  --black-grey: #252525;
}

.task-late {
  --primary-text-color: red;
  --task-back-ground-color: rgb(255, 235, 238);
  --task-card-border: 2px solid var(--primary-text-color);
}

.progress-bar-red {
  --progress-bar-color: rgba(255, 0, 0, 0.8);
}
.progress-bar-yellow {
  --progress-bar-color: rgba(255, 255, 0, 0.9);
}

.progress-bar-green {
  --progress-bar-color: rgba(0, 128, 0, 0.9);
}
.progress-bar-orange {
  --progress-bar-color: rgba(255, 165, 0, 0.9);
}

.tasks-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--tasks-page--text);
  margin-top: 40px;
}

.tasks-container {
  padding: 8px;
  width: 80%;
  text-align: center;
}

.tasks-container__no-tasks-found {
  margin-top: 20px;
}

.task-card {
  display: flex;
  flex-direction: column;
  border: var(--task-card-border);
  border-radius: 10px;
  box-shadow: 0 0 15px -7px var(--task-card--box-shadow);
  max-width: 45rem;
  margin: auto;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--task-back-ground-color);
  width: 90%;
}

.task-card:hover {
  box-shadow: 0 4px 8px 0 var(--task-card--box-shadow-1--hover),
    0 6px 20px 0 var(--task-card--box-shadow-2--hover);
}

.status-details {
  text-align: left;
  width: max-content;
}
.toast {
  opacity: 0.9;
}
/* progress bar */

.wrapper-div {
  margin: 1em;
  padding: 1rem;
}

.task-card__progress-bar-container {
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  width: 14.5rem;
  flex-shrink: 0;
}

.task-card__progress-bar-container__progress-bar {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.progress-bar__input {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 9px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 9px;
  border: 2px solid var(--black-grey);
}
.progress-bar__input:disabled {
  pointer-events: none;
}
.progress-bar__input::-webkit-slider-runnable-track {
  height: 9px;
  background: var(--range-slider-background);
  border-radius: 9px;
}

.progress-bar__input::-moz-range-track {
  height: 9px;
  background: var(--range-slider-background);
  border-radius: 9px;
}

.progress-bar__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 9px;
  width: 9px;
  background-color: var(--progress-bar-color);
  border-radius: 50%;
  border: 2px solid var(--progress-bar-color);
  transition: 0.25s ease-in-out;
  box-shadow: -407px 0 0 400px var(--progress-bar-color);
}

.progress-bar__input::-webkit-slider-thumb:active,
.task-card__progress-bar-container__progress-bar:hover
  .progress-bar__input:not(:disabled)::-webkit-slider-thumb {
  background-color: var(--white);
}

.progress-bar__input::-moz-range-thumb {
  background-color: var(--progress-bar-color);
  border-radius: 50%;
  height: 4.5px;
  width: 4.5px;
  border: 2px solid var(--progress-bar-color);
  transition: 0.25s ease-in-out;
  box-shadow: -407px 0 0 400px var(--progress-bar-color);
}

.progress-bar__input::-moz-range-thumb:active,
.task-card__progress-bar-container__progress-bar:hover
  .progress-bar__input:not(:disabled)::-moz-range-thumb {
  background-color: var(--white);
}

/* Status Container */
.task-card__status {
  display: flex;
  justify-content: space-evenly;
  padding: 16px 0;
}

.task-card__status select {
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
}
.task-card__btn button {
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
}

.task-details__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task-update {
  border: 1px solid var(--tasks-page--text);
  border-radius: 4px;
  font-size: inherit;
  font-weight: bolder;
  background-color: transparent;
  color: var(--primary-text-color);
  padding: 0.5rem;
  height: 2.5rem;
  width: 10rem;
  transition: 250ms ease-in-out;
}

#task-update:hover:not([disabled]) {
  background-color: var(--primary-text-color);
  color: var(--white);
}

#task-update:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.task-details__title {
  text-decoration: none;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: var(--primary-text-color);
  margin-bottom: 0;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.task-details__status-purpose-container {
  display: grid;
  align-items: baseline;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  grid-auto-flow: column;
  margin-bottom: 1rem;
}

.status-details__dates-info__end {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--grey-white);
}
.task-details__purpose {
  font-size: 1.1rem;
  margin-top: 1em;
  margin-bottom: 1em;
  max-height: 5rem;
  overflow: auto;
  text-align: left;
}
.task-details__purpose > b {
  font-size: 1.1rem;
}
.task-details__purpose > span {
  color: var(--grey-white);
  font-size: 1rem;
}

#task-update-label {
  font-size: bolder;
}
.status-details__dates-info__end-date {
  font-size: 1.2rem;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 7rem;
  height: 1.5rem;
}
.status-details__dates-info__start {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--grey-white);
}

.task-card__current-task-status {
  margin-bottom: 15px;
}

.task-card__loader-container {
  margin-top: 10px;
}

/* modal styles */

.overlay {
  background: var(--overlay--bg);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  align-self: center;
  padding: 0.2rem;
  background: var(--modal--bg);
  color: var(--modal--text);
  position: relative;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  height: fit-content;
}

.modal-title {
  font-size: 1.1rem;
  color: var(--modal-title--text);
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
  width: 80%;
}

.proceed-btn {
  display: block;
  width: 70%;
  margin: 0.4rem;
  padding: 0.5rem;
  background-color: var(--button-proceed--bg);
  border: none;
  color: var(--button-proceed--text);
  cursor: pointer;
}

.not-assign {
  display: block;
  width: 70%;
  margin: 0.4rem;
  padding: 0.5rem;
  border: 2px solid var(--not-assign--border);
  background-color: var(--not-assign--bg);
  color: var(--not-assign--text);
  font-weight: 700;
  cursor: pointer;
}

.close {
  background-color: var(--close--bg);
  border: none;
  align-self: flex-end;
  margin-right: 0.5rem;
}

/* fetch task styles */

.fetch-task {
  margin-top: 1rem;
}

.fetch-task > p {
  margin-bottom: 1rem;
  font-weight: 700;
}
.task-card__status-update-container {
  display: flex;
  align-items: end;
  justify-content: start;
  margin: 8px 0;
  gap: 8px;
}

.task-card__status-update-container > label {
  margin-right: 8px;
}
.fetch-task > button {
  background-color: var(--fetch--button-bg);
  padding: 1rem 5rem;
  color: var(--fetch--button--color);
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.fetch-task > button:disabled {
  background-color: var(--fetch--button--bg--disabled);
}

/* extension form */
.task-card__extensionForm-button {
  font-weight: bolder;
  display: block;
  padding: 0.5rem;
  border: 1px solid var(--tasks-page--text);
  background-color: transparent;
  border-radius: 4px;
  color: var(--primary-text-color);
  transition: 0.25s ease-in-out;
  height: 2.5rem;
  width: auto;
  flex-shrink: 0;
}

.task-card__extensionForm-button:hover {
  background-color: var(--primary-text-color);
  color: var(--white);
}

.extension-form__container-parent {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.extension-form__container-back {
  background-color: var(--light-black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.extension-form__container-main {
  z-index: 1;
  flex-grow: 0;
  padding: 18px;
  border-radius: 10px;
  background-color: var(--white);
  /* overflow-y: scroll; */
  position: absolute;
  left: 30%;
  right: 30%;
  height: max-content;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.extension-form__container-main:hover {
  cursor: default;
}
.extension-form__container-main::-webkit-scrollbar {
  width: 10px;
}
.extension-form__container-main::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--gray);
}
.extension-form__container-main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scrollbar-thumb);
}
.extension-form__container-main::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.extension-form__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin: 10px 0px;
}

.extension-form__open-button {
  background-color: var(--button-proceed--bg);
  color: var(--button-proceed--text);
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: 5px 9px;
}

.extension-form__content-wrapper {
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.extension-form__content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.extension-form__content form > label {
  font-weight: bold;
}
.extension-form__content form > p {
  margin: 0;
  font-size: 90%;
}
.extension-form__content form > button,
.extension-form__container-close {
  background-color: var(--button-proceed--bg);
  color: var(--button-proceed--text);
  font-size: 1.2rem;
  border: none;
  width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 5px 9px;
}

.multiple-extension-form__content form > button,
.multiple-extension-form__container-close {
  background-color: var(--button-proceed--bg);
  color: var(--button-proceed--text);
  font-size: 1.2rem;
  border: none;
  width: 40%;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 5px 9px;
  display: flex;
  align-items: center;
}

.extension-form__container-close:disabled {
  opacity: 0.7;
  background-color: #888;
}

.extension-form__content form > button:disabled {
  opacity: 0.7;
  background-color: #888;
}
.extension-form__content input {
  margin: 5px 0px 15px 0px;
  padding: 5px;
  width: 100%;
  border: 1px solid var(--input-field-border);
  /* border-bottom: 1px solid var(--input-field-border); */
}

.extension-info__content > table,
.extension-info__content > table > tr,
.extension-info__content {
  text-align: left;
  width: 100%;
}

.extension-info__content {
  border-bottom: 1px solid var(--light-black);
  margin: 10px;
}

@media screen and (max-width: 720px) {
  .task-card {
    width: 90%;
  }

  .tasks-page {
    flex-direction: column;
    align-items: center;
  }

  .tasks-container {
    margin-top: 1rem;
    width: 100%;
  }

  .extension-form__container-main {
    left: 10px;
    right: 10px;
  }

  .task-details__title-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .task-details__status-purpose-container {
    grid-template-columns: unset;
    grid-template-rows: 2fr;
    grid-auto-flow: row;
    justify-items: flex-start;
    gap: 0;
  }
  .status-details {
    width: 100%;
  }
}
@media screen and (max-width: 475px) {
  .task-card {
    width: 100%;
  }
  .task-card__status {
    flex-direction: column;
  }
  .task-details__title-container {
    flex-direction: column;
  }
  .task-card__status-update-container {
    flex-direction: column;
    align-items: center;
  }
  .task-update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.extension-info__content {
  border-bottom: 1px solid var(--light-black);
  margin: 10px;
}
.latest-extension-info__content table td {
  white-space: normal;
}

.multiple-extension-form__container-close {
  background-color: #a70606;
  color: var(--button-proceed--text);
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: 5px 9px;
  width: 40%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.error-message {
  color: red;
}
.error-container {
  align-items: center;
  height: 25px;
  width: 100%;
}

.error-placeholder {
  color: red;
  text-align: center;
  visibility: hidden;
}

.multiple-extension-form__create-button[disabled] {
  cursor: not-allowed;

  background-color: #888;
}

.multiple-extension-form__create-button[disabled]:hover {
  background-color: #888;
}

.multiple-extension-form__open-button:hover,
.multiple-extension-form__create-button:hover {
  background-color: #01ad01;
  color: #fff;
}

.multiple-extension-form__container-close:hover {
  background-color: #d50707;
  color: #fff;
}

.multiple-extension-form__create-button {
  width: 60%;
}

.primary-button-style {
  background-color: #008000;
  color: var(--button-proceed--text);
  font-size: 1.2rem;
  width: 40%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  padding: 5px 9px;
  transition: background-color 0.3s ease;
}

.latest-extension-info__content th {
  text-align: right;
  width: 50%;
}

.latest-extension-info__content th,
td {
  padding: 8px 2px;
  vertical-align: top;
  min-width: 50%;
}
.latest-table {
  width: 100%;
}
.latest-extension-info__content th {
  text-align: right;
}
.latest-extension-info__content td {
  text-align: left;
  word-wrap: normal;
}
tr > th,
tr > td {
  vertical-align: top;
}

textarea {
  width: 100%;
  height: 50%;
  overflow-y: auto;
}

div.buttons {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  align-content: center;
  justify-content: center;
}
