
/* modal styles */

.overlay {
  background: var(--overlay--bg);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  align-self: center;
  padding: 0.2rem;
  background: var(--modal--bg);
  color: var(--modal--text);
  position: relative;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  height: fit-content;
}

.modal__inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.modal__inputs--description {
  padding: 0.50rem 0.50rem 0.10rem 0rem;
}

.modal__submit {
  display: block;
  width: 20%;
  margin: 0.4rem;
  padding: 0.5rem;
  background-color: var(--button-proceed--bg);
  border: none;
  color: var(--button-proceed--text);
  cursor: pointer;
}

.modal__close {
  background-color: var(--close--bg);
  border: none;
  align-self: flex-end;
  margin-right: 0.5rem;
}

.modal__text-area {
  width: 100%;
  height: 7rem;
  padding: 0.4rem;
  text-align: justify;
}