.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  box-shadow: 5px 10px 15px #09113344;
  border-radius: 10px;
  padding: 30px;
}

.heading h2 {
  color: #1d1283;
  margin: 20px 0px;
  font-size: 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons__idle {
  font-size: 1.25rem;
  color: #e49504;
  font-weight: 700;
  border: 3px solid #e49504;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}

.buttons__active {
  font-size: 1.25rem;
  font-weight: 700;
  color: #16a334;
  border: 3px solid #16a334;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  background: #fff;
  cursor: pointer;
}

.buttons--small {
  font-size: 1.25rem;
  font-weight: 700;
  color: #1d1283;
  border: none;
  background: #fff;
  cursor: pointer;
}
