<button type="button" {{on "click" (fn this.updateStatus 'idle')}}>I am idle</button>
<button type="button" {{on "click" (fn this.updateStatus 'active')}}>Change status to 'Doing a task'</button>
<button type="button" {{on "click" (fn this.updateStatus 'ooo')}}>Mark yourself as OOO</button>
