<div class="landing-container">
  <h2>Thank you for connecting your GitHub!</h2>
  <h3>Please complete the signup in order to:</h3>
  <ul class="landing-lists">
    <li>Use Features</li>
    <li>Display yourself on the (members) page</li>
  </ul>

  <div class="landing-button">
      <LinkTo @route="signup" class="button">Get Started</LinkTo>
  </div>
</div>