<div class="landing">
  <h2 class="landing__mainHeading">Thank you for connecting your GitHub!</h2>
  <h3 class="landing__subHeading">Please complete the signup in order to:</h3>
  <ul class="landing__features-lists">
    <li class="landing__features-list">Use Features</li>
    <li class="landing__features-list">Display yourself on the (members) page</li>
  </ul>

  <div class="get-started__btn">
      <LinkTo @route="signup" class="button">Get Started</LinkTo>
  </div>
</div>