<nav class="local-navbar">
  <span class="local-navbar__link">
    <LinkTo @route="index">Home</LinkTo>
  </span>
  <span class="local-navbar__link">
    <LinkTo @route="profile">Profile</LinkTo>
  </span>
  <span class="local-navbar__link">
    <LinkTo @route="tasks">Tasks</LinkTo>
  </span>
  <span class="local-navbar__link">
    <LinkTo @route="notifications">Notifications</LinkTo>
  </span>
  <img src='assets/moon.png' role="button" alt='Toggling Theme' id="themeLogo" class="themeLogo" {{on "click" this.changeTheme}}/>
</nav>