  <QrCode
    data-test="qr-code"
    @text= {{@userId}}
    class='qrcode'
    @darkColor='#00000'
    style="width: 40px;"
  />
  {{!-- <QrCode @text="http://example.com" style="width: 300px;" @darkColor="red" /> --}}
  <p class='qr-code-text'>Check out our RDS mobile app</p>
