<div class='qr-code-container'> 
<div class='qr-section'>
  <QrCode
    data-test="qr-code"
    @text= {{@userId}}
    class='qrcode'
    @darkColor='#00000'
  />
  <p class='qr-code-text'>Check out our RDS mobile app</p>
</div>
</div>