{{#if @dev}}
  <section class='cache'>
    <div data-test-last-time class='cache__last-request'>
      Last Request:
      <br />
      24 November, 1:23 PM IST
    </div>
    <button
      data-test-btn-clear-cache
      class='cache__clear-btn'
      type='submit'
      disabled={{@isPurgingCache}}
      {{on 'click' (fn @onClearCache)}}
    >{{#if @isPurgingCache}}
        <i class='fa fa-spinner fa-spin' data-test-button-spinner></i>
      {{/if}}
      Clear Cache</button>
    <div data-test-pending-requests class='cache__remaining-requests'>
      {{@totalTimes}}
      / 3 requests remaining for today
    </div>
  </section>
{{/if}}