<div class="self-clear-cache-container">
    <div class="last-request">
        Last Request: {{@time}}
    </div>
    <div class="clear-cache-button">
        <button class="button" type="submit" disableb={{false}}>Clear cache</button>
    </div>
    <div class="remaining-requests">
        {{@totalTimes}} / 3 requests remaining for today
    </div>
</div>