{{#if this.arePropsValid}}
<article data-test-stepper class='stepper--container'>
  <div class='stepper-progress--container'>
    <div class='progress'></div>
    {{#each this.numberOfSteps as |_ index|}}
    <div data-test-stepper-step={{getStepperStepDataTestSelector index completedSteps=@completedSteps }}
      class='stepper__step'>
      {{#if (eq index this.completedSteps)}}
      <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#1d1283' viewBox='0 0 256 256'>
        <path d='M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z'>
        </path>
      </svg>
      {{else if
      (and (gt this.completedSteps -1) (lt index this.completedSteps))
      }}
      <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#1d1283' viewBox='0 0 256 256'>
        <path
          d='M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z'>
        </path>
      </svg>
      {{/if}}
    </div>
    {{/each}}
  </div>
</article>
{{/if}}