{{#if this.arePropsValid}}
  <article data-test-stepper>
    <ul>
      {{#each this.numberOfSteps as |_ index|}}
        <li
          data-test-stepper-step={{getStepperStepDataTestSelector
            index
            completedSteps=@completedSteps
          }}
        >{{index}}</li>
      {{/each}}
    </ul>
  </article>
{{/if}}