.input-field {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-field label {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 0;
}

.input-field input {
  padding: 1em;
  border: #666 1px solid;
  border-radius: 5px;
  width: 100%;
}

.input-field input:focus {
  border: 1px solid rgb(0, 81, 255);
  outline: 1px solid transparent;
}

.input-field > .error {
  font-size: 0.8rem;
  color: #e74c3c;
}

.help-msg {
  font-size: 10px;
  text-align: left;
}

.error-border {
  border: 1px solid red !important;
}
