.mobile-dialog {
  display: block;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: 900;
  margin: 0 auto;
  font-size: large;
  text-align: center;
  background-color: var(--form--bg);
  border: none;
  z-index: 2;
  box-shadow: 4px 8px 8px var(--mobile-dialog-box-shadow);
  & button {
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-size: medium;
    border: none;
    border-radius: 4px;
    color: var(--body-bg-color);
    font-weight: 600;
  }
}

#mobile-dialog__open-button {
  background-color: var(--mobile-dialog--open-button);
}

#mobile-dialog__close-button {
  background-color: var(--body-bg-color);
  color: var(--landing-page--main-heading);
}
