{{page-title 'Page Not Found'}}

<div class="not-found-container">
  <img class="not-found-img" src="page-not-found.png" alt="page-not-found">
  <h1 class="not-found-text">The page you're looking for cannot be found!</h1>
</div>