{{page-title 'Mobile'}}
<div class='mobile'>
  <Qrcode @text={{@model.userId}} />
  <button
    type='button'
    class='verify__btn'
    {{on 'click' this.buttonClicked}}
    data-test-verify-button
  >Verify Status</button>
</div>
{{outlet}}